body{
background: #7B6FB1;}

h3{color: gold; font-family:"Comic Sans MS", "Arial", cursive;}

#title{color: white;}

.text {color: white;
    font-family:"Comic Sans MS", "Arial", cursive;
}

